@import url('https://fonts.googleapis.com/css?family=Stylish&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Stylish', sans-serif;
    min-height: 100%;
}
.app{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
header h1{
    margin: 50px 0px 30px 0px;
    text-align: center;
    font-size: 30px; 
}
.pads{
    background: lightblue;
    width: 100%;
    display: flex;
}
.pads > div{
    height: 100px;
    width: 100px;
    flex:1;
}
.pads1{
    background:#60d394;
}
.pads2{
    background: #d36060;
}
.pads3{
    background: #c060d3;    
}
.pads4{
    background: #d3d160;
}
.pads5{
    background: #6860d3;
}
.pads6{
    background: #333;
}

@keyframes jump{
    0%{
        bottom: 0;
        left: 20%;
    }
    50%{
        bottom: 50%;
        left: 50%;
    }
    100%{
        bottom: 0;
        left: 80%;
    }

}

.visual > div{
    z-index: -1;    
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    bottom:0%;
}

.btn{
    /* z-index: -2; */
    animation: rot 3s infinite;
    text-decoration: none;
    color: white;
    background: #67c592;
    padding: 15px 30px;
    font-weight: bold;
    font-size: 30px;
    display: inline-block;    
    border-radius: 30px;
    box-shadow: -2px 3px 5px rgb(172, 172, 172);
}
.btn:hover{
    background: #75c098;
}
.btn2{
    /* z-index: -2; */
    animation: pulse   5s infinite;
    display: inline-block;
    transform: rotate(120);
    text-decoration: none;
    color: white;
    background:#fd6703;
    padding: 15px 30px;
    font-weight: bold;
    font-size: 30px;    
    border-radius: 30px;
    box-shadow: -2px 3px 5px rgb(172, 172, 172);
}
.btn2:hover{
    background: #d85e0d;
    transform: scale(2,)
}
body{
    overflow: hidden;
}

.container{
    display: block;
    /* background: #333; */
    width:max-content;
    margin: 0 auto;
    margin-top: 50px; 
    text-align: center;
    
}
.container > h1{
    font-size: 50px;
}
.container > p{
    font-size: 30px;
}
canvas{
    margin-left: 180px;
    /* border: 2px solid black; */
    
}


/* You could use :after - it doesn't really matter */
/* .wrapper:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.6;
    background-image: url('http://placekitten.com/1500/1000');
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
} */


@keyframes pulse {
    0% {
      background-color: #001F3F;
    }
    100% {
      background-color: #FF4136;
    }
  }
@keyframes rot{
    0% {
        transform: rotate(0);

    }
    100% {
            transform: rotate(360deg);
    }
}

